/* 

reset넣기

디자인은 저거 그대로 가기
이미지 ? : 삼성꺼로 SDI

https://genuv.com/
https://swiperjs.com/

*/

body {
	color: #222;
    font-family: 'Montserrat', 'NotoKr', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #222;
    letter-spacing: -.25px;
    word-break: break-all;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	}

#contentInner{
	width:1200px;
	margin: 0 auto;
	padding: 120px 0px 200px;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

ul,li,ol {
	list-style: none;
    padding: 0;
    margin: 0;
}
li {
	display: list-item;
    unicode-bidi: isolate;
}
#container {
	width: 100%;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

#logo {
	display: block;
	/* padding: 0 30px; */
	width: 20%;
	font-size:20px;
	line-height: 60px;
	background-image: url(../img/logo/logo-black.png);
	background-repeat: no-repeat;
	text-indent: -999px;
	margin-left: 20px;
	margin-top: 20px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

/* nav:after {
	content:"";
	display:table;
	clear:both;
} */

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display: flex;
	align-items: center;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	/* float: left; */
	background-color: #fff;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#222;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #fff; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #fff;
	color: #1E82FF;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	/* position: absolute;  */
	/* has to be the same number as the "line-height" of "nav a" */
	/* top: 60px;  */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
#mainvideo {
	/* background: no-repeat center / cover; */
    align-items: center;
	width: 100%;
}

.menubar{
	display: none;
	transition: 1s;
	width: 100vw;
    position: absolute;
    top: 80px;
    left: 50%;
    /* padding: 50px 0 52px; */
    box-sizing: border-box;
    line-height: 1;
    transform: translate(-50%, 0);
}

.menubar ul {
	justify-content: center;
    display: flex;
    gap: 0px;
}

.menubar ul li {
	position: relative;
    box-sizing: border-box;
    /* width: 200px; */
    white-space: nowrap;
}

.menubar ul li a {
	position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    word-break: keep-all;
    transition: .3s ease color;
}

.menu li:hover .menubar {
	display: block;
}






/* ---------------------Studio Start---------------------- */

#studios{
	margin-bottom: 180px;
}

.txtTitle{
	margin-bottom: 60px;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}

.imgBetween{
	display: flex;
	justify-content: space-between;
}

#studios .txt ul {
	flex-wrap: nowrap;
    gap: 30px;
}

#studios .txt ul li {
	height: 100%;
}

.StudioItem {
	/* width: calc(100%-30px)/2; */
	width: 100%;
}



.box {
	translate: none;
	rotate: none;
	scale: none;
	opacity: 1;
	visibility: inherit;
	transform: translate(0px, 0px);
	background-repeat: no-repeat;
	border-radius: 20px;
	background-size: 100%;
}

.imgBetween li a {
	display: block;
}

#studios .imgBetween li a .box {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 390px;
    padding: 40px 20px;
    color: #fff;
    background-size: cover;
    background-position: center;
}


#studios .imgBetween li:nth-child(1) a .box {
	background-image: url(/img/sdi1.png);
}
#studios .imgBetween li:nth-child(2) a .box {
	background-image: url(/img/sdi2.png);
}

.box .titsub {
	font-size: 26px;
	font-weight: 700;
	translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
}

.__animated {
	position: relative;
	display: block;
}

/* .box span {
	translate: none;
	rotate: none;
	scale: none;
	transform: translate(0px, 0px);
	}

.box .titsub {
	display: block;
	transform: translate(0,200px);
	text-align: left;
	padding-top: 30px;
	border-top: 2px solid black;
	color: #000;
}
.box .titsub p{
	text-align: left;
} */

/* .StudioImgs li:nth-child(1):hover a .box .titsub1B{
	color: white;
	border-top: 2px solid white;
}
.StudioImgs li:nth-child(1):hover a .box{
	background-image: url(/img/logo/logo-pubg-w.png);
}
.StudioImgs li:nth-child(2):hover a .box .titsub1B{
	color: white;
	border-top: 2px solid white;
}
.StudioImgs li:nth-child(2):hover a .box{
	background-image: url(/img/logo/logo-bluehole-w.png);
}
.StudioImgs li:nth-child(3):hover a .box .titsub1B{
	color: white;
	border-top: 2px solid white;
}
.StudioImgs li:nth-child(3):hover a .box{
	background-image: url(/img/logo/logo-rising-w.png);
}
.StudioImgs li:nth-child(4):hover a .box .titsub1B{
	color: white;
	border-top: 2px solid white;
}
.StudioImgs li:nth-child(4):hover a .box{
	background-image: url(/img/logo/logo-striking-w.png);
}

.StudioImgs li:nth-child(1) a .box{
	height: 355px;
	margin: 20px;
	background-image: url(/img/logo/logo-pubg.png);
	background-repeat: no-repeat;
    transition-duration: 0.2s;
}
.StudioImgs li:nth-child(1) :hover{
	background: orange;
	color: #fff;
}
.StudioImgs li:nth-child(2) a .box{
	height: 355px;
	margin: 20px;
	background-image: url(/img/logo/logo-bluehole.png);
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}
.StudioImgs li:nth-child(2) :hover{
	background: skyblue;
	color: #fff;
}
.StudioImgs li:nth-child(3) a .box{
	height: 355px;
	margin: 20px;
	background-image: url(/img/logo/logo-rising.png);
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}
.StudioImgs li:nth-child(3) :hover{
	background: rgb(243, 70, 1);
	color: #fff;
}
.StudioImgs li:nth-child(4) a .box{
	height: 355px;
	margin: 20px;
	background-image: url(/img/logo/logo-striking.png);
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}
.StudioImgs li:nth-child(4) :hover{
	background: rgb(10, 196, 149);
	color: #fff;
} */
/* ----------------Studio End---------------- */





/* ----------------News Start---------------- */

#News{
	margin-bottom: 180px;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

.NewsWrap{
	width: 100%;
	translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
	height: 175px;
    background: #fff;
    border-radius: 20px;
}

.frame{
	width: 100%;
	border: 0 none;
}

.frame .box {
	max-width: 600px;
}

.boxContainer{
	font-size: 16px;
	max-width: 600px;
}

.boxContainer h2{
	margin: 0 0 20px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

#boxWrap{
	display: flex;
    justify-content: space-between;
}

.mainNews{
	flex: 6;
}
.newsInfo{
	position: absolute;
    left: -9999em;
}
.newsInfo dd {
	margin: 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    color: #222;
}

.newsInfo dd span {
    display: inline-block;
    padding-left: 1px;
    font-size: 18px;
    font-weight: 500;
	color: #222;
}

#boxWrap .mainTime {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 16px;
	flex: 4;
}

#boxWrap .mainTime dt {
	margin-right: 15px;
    min-width: 20%;
    color: #222;
	margin-bottom: 20px;
}

#boxWrap .mainTime dd {
	min-width: 50%;
    font-weight: 500;
	color: #222;
}

.NewsItem{
	max-width: 175px;
    background-repeat: no-repeat;
    background-size: 30px;
	width: calc((100% - 120px) / 4);
}

.txt ul li{
	width: 100%;
	height: 175px;
	background-color: white;
	border-radius: 20px;
}

.txt ul li a{
	display: block;
	height: 100%;
}

#News {
	width: 100%;
	background-color: yellow;
}

#News .txt {
	width: 100%;
	background-color: blue;
}

#News .imgBetween {
	width: 100%;
	background-color: red;
}

#News ul li:nth-child(1) {
	width:50%;
   }

#News .imgBetween ul li a .box {
	justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 30px
}

#News .imgBetween ul li :nth-child(2) a .box {
	background-image: url(/img/sdiicon1.svg);
    background-position: top 54px center;
}
#News .imgBetween ul li :nth-child(3) a .box {
	background-image: url(/img/sdiicon2.svg);
    background-position: top 54px center;
}
#News .imgBetween ul li :nth-child(4) a .box {
	background-image: url(/img/sdiicon3.svg);
    background-position: top 54px center;
}

.titsub2{
    font-size: 20px;
    font-weight: 500;
}

/* ----------------News End---------------- */









/* ----------------Carrer Start---------------- */

#Carrer{
	margin-bottom: 180px;
}

/* ----------------Carrer End---------------- */










/* ----------------KRAFTONGAMES Start---------------- */

#KRAFTONGAMES{
	margin-bottom: 180px;
}

/* ----------------KRAFTONGAMES End---------------- */


























/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #fff;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}